@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}
:root {
  --color-primary: #e50914;
  --border-gray: #222;
  --color-black: black;
  --color-blue: #0071eb;
  --bg-gray: #303030;
  --light-black: #181818;
  --gray: #a3a3a3;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  border: 10px solid transparent;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}
/* Navbar */
.nav-item img {
  z-index: 999;
}
/* Universal */
.bb-gray {
  border-bottom: 8px solid var(--border-gray);
}
.section-card {
  padding: 90px 55px;
}
/* Hero Section */
.Hero {
  background: url("./assets/img/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
}
.overlay {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0,
    transparent 60%,
    rgba(0, 0, 0, 0.8)
  );
  height: 100.2vh;
}
#signin {
  background-color: var(--color-primary);
  z-index: 999;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  padding: 7px 17px;
  text-decoration: none;
}
.authLinks {
  border-radius: 3px;
  color: #fff;
  margin-top: 0.5rem;
}
.nav-item {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.hero-inner {
  color: white;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-inner h1 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0;
}
#second-h2 {
  margin: 0;
}
.hero-inner h3 {
  font-weight: 500;
  margin: 0;
  z-index: 999;
}
.hero-inner h5 {
  font-weight: 400;
  z-index: 999;
}
/* Get Started Component */
.get-started {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.gs-email {
  height: 52px !important;
  padding-left: 10px;
  min-width: 440px;
  outline: none;
  border: none;
  border-radius: 0;
}
.gs-submit {
  background-color: var(--color-primary);
  color: white;
  font-size: 1.675rem;
  min-height: 54px;
  border: none;
  padding: 0 1em;
}
.gs-submit i {
  margin-left: 1rem;
}

/* Section 1 */
.section {
  background-color: var(--color-black);
  color: white;
}
.section-card-text {
  padding: 0 3rem 0 0;
  width: 42%;
  margin-left: 4rem;
}
.section .section-card-text h3 {
  font-size: 1.2rem;
  font-weight: 500;
}
.section .section-inner {
  display: flex;
  align-items: center;
}
.section .section-inner img {
  z-index: 999;
  margin-top: -55px;
}
.section .section-inner .video-home {
  display: flex;
  flex-direction: column;
}
.section .section-inner .video-home video {
  margin: auto;
  margin-top: -278px;
}
/* Section 2 */
.section-2 {
  padding-top: 0;
  padding-bottom: 0;
}
.section-2 .section-inner .left-bottom {
  border: 3px solid var(--border-gray);
  padding: 14px;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  position: relative;
  top: -105px;
  background: black;
}
.section-2 .section-inner img {
  margin-top: 1px;
}

.section-2 .section-inner .downloading h4 {
  margin: 0;
  font-weight: 600;
}
.section-2 .section-inner .downloading span {
  color: var(--color-blue);
}
.section-2 .section-inner .left-bottom-mobile {
  display: none;
}
/* Section 3 */
.section-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* Section 5 */
.section-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-5 .section-inner {
  display: block;
  width: 68vw;
}
.section-5 .section-inner h5 {
  text-align: center;
}
.section-5 .section-inner h1 {
  font-size: 3rem;
  text-align: center;
}
.section-5 .section-inner .accordin .accordin-item {
  border: 0;
  font-weight: 400;
  padding: 0.8em 1.2em 0.8em 1.2em;
  position: relative;
  width: 68vw;
  background: var(--bg-gray);
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  text-align: left;
}
.section-5 .section-inner .accordin .accordin-text .accodin-paragraph {
  background: var(--bg-gray);
  margin: 0;
  padding: 2rem 1.8rem;
  margin-bottom: 0.5rem;
  margin-top: 1px;
  line-height: 1.8;
}
.section-5 .section-inner .accordin .accordin-text.closed {
  display: none;
}
.section-5 .section-inner .accordin .accordin-text.open {
  display: block;
}
/* Section 6 */
.section-6 {
  padding: 3rem;
  color: #737373;
  font-size: 0.7rem;
}
.section-6 .section-inner {
  justify-content: center;
}
.section-6 .section-inner a {
  color: #737373;
  text-decoration: none;
}
.section-6 .footer-contact {
  margin-bottom: 1.5rem;
}
.section-6 .footer-location {
  margin-top: 1.5rem;
}
.section-6 .footer-sec-1 {
  margin-right: 3rem;
}
.section-6 .footer-faq,
.footer-investor,
.footer-privacy,
.footer-speed {
  margin-top: 0.5rem;
}
/* Only On Component */
.navbar-2 {
  display: flex;
  background-color: black;
  padding: 0.2rem 1rem;
  justify-content: space-between;
  align-items: center;
}
.navbar-2 .nav-logo {
  margin-left: 1.2rem;
  margin-top: 0.3rem;
}
.navbar-2 .nav-right {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}
.navbar-2 .nav-right p {
  margin: 0;
  font-size: 0.9rem;
}
#logo2 {
  display: none;
}
#join-now {
  background-color: var(--color-primary);
  font-size: 1rem;
  font-weight: 400;
  padding: 4px 10px;
  text-decoration: none;
  margin-right: 1rem;
  margin-left: 1rem;
  color: white;
}
#sign-in-only {
  font-size: 1rem;
  font-weight: 400;
  padding: 4px 10px;
  text-decoration: none;
  border: 2px solid rgb(104, 104, 104);
  border-radius: 6px;
  color: white;
}
.onlyon-content {
  background: var(--light-black);
  color: white;
  padding: 15px 40px;
}
.onlyon-sec-inner {
  display: flex;
  flex-direction: column;
  width: 48vw;
}
.onlyon-sec-inner p {
  margin: 0;
}
/* Only On Slider Component */
.onlyon-slider-inner {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
.owl-item{
  display: flex;
  justify-content: center;
}
.owl-next {
  color: var(--color-primary) !important;
  font-size: 3rem !important;
  font-weight: 400 !important;
  color: white !important;
  background: var(--color-primary) !important;
}
.owl-prev {
  color: white !important;
  font-size: 3rem !important;
  font-weight: 400 !important;
  background: var(--color-primary) !important;
}
.owl-nav {
  position: relative;
  top: -8rem;
  display: flex;
  justify-content: space-between;
}
.owl-item .item {
  display: flex;
  flex-direction: column;
}
.owl-item .item h6 {
  text-align: center;
}
/* Single Movie Page */
.movie .movie-inner {
  background-color: var(--light-black);
}
.movie .movie-inner .movie-hero {
  color: white;
  height: 92.2vh;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.movie .movie-inner .movie-hero .movie-overlay {
  background: linear-gradient(270deg, rgba(8, 168, 11, 0) 10%, #181818 80%);
  height: 92.2vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.movie .movie-inner .movie-hero .movie-hero-inner {
  width: 50vw;
  margin: 3rem;
}
.movie .movie-inner .movie-hero .movie-hero-inner .movie-info {
  color: #a3a3a3;
}
.movie .movie-inner .movie-hero .movie-hero-inner .movie-info a {
  color: #a3a3a3;
  text-decoration: none;
}
.movie .movie-inner .movie-hero .movie-hero-inner .overview {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.movie .movie-inner .movie-hero .movie-hero-inner .creators .creators-span {
  color: #a3a3a3;
}
.movie .movie-inner .movie-hero .movie-hero-inner .series {
  display: flex;
  margin-bottom: 2.5rem;
}
.movie .movie-inner .after-hero {
  background: var(--light-black);
  color: white;
  display: flex;
  flex-direction: column;
  width: 92vw;
  margin: auto;
}
.movie .movie-inner .after-hero .all-you-want {
  background-image: linear-gradient(90deg, #333 5%, #181818 95%);
  box-shadow: 8px 5px 16px 0 rgb(0 0 0 / 37%);
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: auto;
  margin-bottom: 4rem;
}
.movie .movie-inner .after-hero .all-you-want .want-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.movie .movie-inner .after-hero .hr-movie {
  background: linear-gradient(90deg, #777 0, rgba(51, 51, 51, 0.5) 50%, #777);
  border: none;
  height: 0.1rem;
  margin-bottom: 2rem;
}
.movie .movie-inner .after-hero .tagline {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.movie .movie-inner .after-hero .tagline .tagline-inner {
  color: var(--gray);
  text-align: center;
}
.movie-videos .movie-videos-inner .video-heading span {
  color: var(--gray);
}
.movie-videos .movie-videos-inner .iframe-videos {
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.movie .movie-inner .after-hero .more-detail-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie .movie-inner .after-hero .more-details-h2 {
  font-weight: 400;
}
.movie-inner .after-hero .more-detail-section .more-details .more-details-item {
  color: var(--gray);
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.movie-inner .after-hero .more-detail-section .more-details .detail-item {
  color: white;
}
.more-like-this {
  display: grid;
  grid-template-columns: repeat(8, 11vw);
}
.more-like-this .more-like-this-inner {
  margin-top: 2rem;
  text-align: center;
}
.more-like-this .more-like-this-inner img {
  width: 15vh;
}
.coming-soon-inner {
  display: grid;
  grid-template-columns: repeat(3, 23rem);
}
.coming-soon-inner .coming-soon-item a {
  text-decoration: none;
  color: white;
}
.coming-soon-inner .coming-soon-item a:hover {
  text-decoration: underline;
}
.coming-soon-inner .coming-soon-item p {
  color: var(--gray);
  font-size: 0.8rem;
  padding-right: 1rem;
}
.coming-soon-h2 {
  font-weight: 400;
}
.after-hero .section-6 {
  background: var(--light-black);
  padding-left: 0;
}
.after-hero .section-6 .section-inner {
  justify-content: start;
}
/* Media Queries */
@media (min-width: 1025px) and (max-width: 1150px) {
  .coming-soon-inner {
    grid-template-columns: repeat(2, 33rem);
  }
}
@media (max-width: 1024px) {
  .more-like-this {
    grid-template-columns: repeat(5, 19vw);
  }
  .coming-soon-inner {
    grid-template-columns: repeat(3, 18rem);
  }
}

@media (min-width: 950px) and (max-width: 1024px) {
  .hero-inner {
    padding-top: 0;
  }
}
@media (max-width: 949px) {
  .get-started {
    flex-direction: column;
  }
  .gs-submit {
    min-height: 40px;
    margin-top: 1rem;
    padding: 0.7rem;
    font-size: 1.275rem;
  }
  .section .section-inner {
    flex-direction: column;
  }
  .section .section-inner .section-card-text {
    width: 100%;
    text-align: center;
  }
  .section .section-inner .section-card-text h1 {
    text-align: center;
    font-size: 1.2rem;
  }
  .section .section-inner img {
    width: 300px;
    margin-top: 2rem;
  }
  .section .section-inner .video-home video {
    width: 210px;
    margin-top: -176px;
  }
  .section-2 {
    padding-top: 6rem;
    padding-bottom: 0;
  }
  .section-2 .section-inner .video-home img {
    margin: auto;
  }
  .section-2 .section-inner .left-bottom {
    display: none;
  }
  .section-2 .section-inner .video {
    order: 2;
  }
  .section-2 .section-inner .section-card-text {
    order: 1;
  }
  .section-2 .section-inner .left-bottom-mobile {
    border: 3px solid var(--border-gray);
    order: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 13px;
    position: relative;
    top: -78px;
    background: black;
  }
  .section-2 .section-inner .left-bottom-mobile .downloading {
    margin-left: 1rem;
  }
  .section-2 .section-inner .left-bottom-mobile .downloading-icon img {
    width: 60px;
    height: 54px;
    margin: 0;
  }
  .section-2 .section-inner .left-bottom-mobile .image-mobile img {
    width: 50px;
    height: 64px;
    margin: 0;
  }
  .section-4 .section-inner .video {
    order: 2;
  }
  .section-4 .section-inner .section-card-text {
    order: 1;
  }
  .footer .section-inner {
    flex-direction: row;
  }
  .navbar-2 .nav-right p {
    display: none;
  }
  .onlyon-sec-inner {
    width: 90vw;
    font-size: 1rem;
  }
  .owl-nav {
    top: -7.8rem;
  }
  .more-like-this {
    grid-template-columns: repeat(5, 18.5vw);
  }
  .coming-soon-inner {
    grid-template-columns: repeat(2, 24rem);
  }
}
@media (max-width: 844px) {
  .Hero {
    height: 100vh;
  }
  .section-5 .section-inner h1 {
    font-size: 2rem;
  }
  .section-6 .footer-last-sec {
    display: none;
  }
  .section-6 .footer-sec-1 {
    margin-right: 2rem;
  }
  .owl-nav {
    top: -7.8rem;
  }
}
@media (max-width: 739px) {
  .hero-inner h5 {
    font-weight: 400;
  }
  .hero-inner h1 {
    font-size: 2rem;
  }
  .hero-inner h5 {
    text-align: center;
  }
  .gs-email {
    min-width: 300px;
    height: 42px !important;
  }
  .section-5 .section-inner h1 {
    font-size: 1.5rem;
  }
  .section-5 .section-inner .accordin .accordin-item {
    font-size: 1rem;
  }
  .section-5 .section-inner .accordin .accordin-text .accodin-paragraph {
    padding: 2rem 1rem;
    font-size: 0.9rem;
  }
  .owl-nav {
    top: -17.8rem;
  }
  .movie .movie-inner .movie-hero .movie-hero-inner {
    width: 85vw;
  }
  .movie .movie-inner .after-hero {
    width: 93vw;
  }
  .movie .movie-inner .movie-videos .movie-videos-inner .owl-nav {
    top: -7.8rem;
  }
  .movie .movie-inner .movie-videos .movie-videos-inner .owl-item .item {
    align-items: center;
  }
  .more-like-this {
    grid-template-columns: repeat(4, 23.5vw);
  }
  .coming-soon-inner {
    grid-template-columns: repeat(1, 32rem);
  }
}
@media (max-width: 600px) {
  .section-6 .footer-seclast-sec {
    display: none;
  }
  #logo1 {
    display: none;
  }
  #logo2 {
    display: block;
  }
  .owl-nav {
    top: -18.8rem;
  }
  .onlyon-content {
    padding: 15px 25px;
  }
  .movie .after-hero .movie-videos .movie-videos-inner .video-heading {
    text-align: center;
  }
  .more-like-this {
    grid-template-columns: repeat(3, 31vw);
  }
  .coming-soon-inner {
    grid-template-columns: repeat(1, 27rem);
  }
}
@media (max-width: 500px) {
  .movie .movie-inner .after-hero .more-detail-section {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .movie .movie-inner .after-hero .more-details-h2 {
    text-align: center;
  }
  .coming-soon-inner {
    grid-template-columns: repeat(1, 21rem);
  }
}
@media (max-width: 400px) {
  .owl-nav {
    top: -22.8rem;
  }
  .movie .movie-inner .after-hero {
    width: 95vw;
  }
  .more-like-this {
    grid-template-columns: repeat(2, 48vw);
  }
  .coming-soon-inner {
    grid-template-columns: repeat(1, 17rem);
  }
}
